
<%= render 'form', leaderboard: @leaderboard %>
<div class="is-grouped">
  <p class="has-text-danger">
    <%= flash.alert %>
  </p>
</div>

<section class="section">
  <div class="container">
    Configure a Slack to send new stars and score from a private leaderboard.<br><br>
    <b>How it works:</b> Every 10 minutes, this app will use the provided credentials to fetch
  the leaderboard data. If someone acquired a new star, it will send a message to Slack through
  a webhook.
</div>
</section>
