<div class="flex justify-center items-center h-screen">
  <div class="flex flex-col">
    <div class="text-center font-bold leading-relaxed text-2xl pb-10">
      <h1>Advent of Code · Slackbot</h1>
    </div>
    <%= render partial: 'form' %>
  </div>
</div>

<!--<section class="section">-->
<!--  <div class="container">-->
<!--    Configure a Slack to send new stars and score from a private leaderboard.<br><br>-->
<!--    <b>How it works:</b> Every 10 minutes, this app will use the provided credentials to fetch-->
<!--  the leaderboard data. If someone acquired a new star, it will send a message to Slack through-->
<!--  a webhook.-->
<!--</div>-->
<!--</section>-->
