<div class="hero">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold"><%= Rails.app_class.name.split('::').first %></h1>
      <p class="py-6">
        Rails <%= Rails::VERSION::STRING %>
      </p>
      <p class="py-6">
        Generated with <a class="link link-hover font-bold"
                          href=https://github.com/Bhacaz/rails_template_app>github.com/Bhacaz/rails_template_app</a>
      </p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
